/* Основной стиль для всех устройств */
body, html {
    height: 100%;
    margin: 0;
    font-family: TT Norms, Segoe UI, Tahoma, Arial, sans-serif;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    border: 0;
    margin: 0;
    background: #000;
    color: #fff;
}

.main-section {
    background-color: #000;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.border-left, .border-bottom {
    left: 159px;
    position: absolute;
    background-color: white;
    width: 23px;
}

.border-left {
    height: 85%;
    left: 50;
    bottom: 50px;
}

.border-bottom {
    width: 55%;
    height: 15px;
    bottom: 30px;
    height: 23px;
}

.left-image {
    width: 100%;
    max-width: 650px;
    height: auto;
    padding-left: 150px;
}

.text-content {
    width: 800px;
    word-break: normal;
    font-size: 19px;
    letter-spacing: 5px;
    padding-left: 200px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
    color: #000;
}

.text-content-news {
    width: 400px;
    word-break: normal;
    font-size: 12px;
    letter-spacing: 1px;
}

.player-list {
    list-style-type: none;
    padding: 0;
    z-index: 2;
}

.player-name {
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 10px 70px 20px 22px;
    display: block;
    width: 100%;
    background: #333;
    margin-bottom: 10px;
}

.player-description {
    display: none;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: left;
    background: #111;
    color: #fff;
    overflow: hidden; /* Добавляем, чтобы изображение не выходило за рамки */
}

.player-imag, .player-imag-dima {
    width: 100%;
    max-width: 300px;
    height: auto;
    float: left; /* Располагаем изображение слева */
    margin-right: 20px; /* Добавляем отступ справа для текста */
}
.text-about {
    width: 900px;
    word-break: normal;
    font-size: 19px;
    letter-spacing: 3px;
    padding-left: 200px;
    z-index: 0;
}
.image-back {
    background-image: none;
    z-index: 1;
}
.image-back {
    position: absolute;
    top: 0;
    left: 750;
    width: 600px;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.5; /* Устанавливаем прозрачность изображения */
}
.player-imag-dima {
    height: auto;
    width: 100%;
    max-width: 800px;
}
.news-container {
    width: 80%;
    margin: 20px auto;
}
.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
}

.news-image {
    width: 100%;
    max-width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.news-content {
    flex: 1;
}
.randomHeroSection {
    text-align: center;
    margin-top: 20px;
}

#heroWrapper img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 5px;
}

#heroName {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

/* Стили для кнопок "Основной состав" и "Junior" */
.main-roster-button, .junior-roster-button {
    background-color: #000; /* Черный цвет фона */
    border: 2px solid #fff; /* Белая рамка */
    color: #fff; /* Белый цвет текста */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow: hidden;
    position: relative;
}

.main-roster-button:hover, .junior-roster-button:hover {
    background-color: #fff; /* Белый цвет фона при наведении */
    color: #000; /* Черный цвет текста при наведении */
}

@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.main-roster-button:after, .junior-roster-button:after {
    content: "";
    display: block;
    width: 30px;
    height: 200px;
    margin-left: 60px;
    background: #fff;
    opacity: 0.5;
    position: absolute;
    left: -40px;
    top: -100px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.details-link {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.details-link:hover {
    color: #ddd;
}
/* Стили для гамбургер-меню */
.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    transition: border-color 0.3s ease, right 0.5s ease; /* Добавляем анимацию для перемещения */
}

.hamburger-menu:hover {
    border-color: #ddd;
}

.hamburger-menu .bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Стили для перемещения гамбургер-меню */
.hamburger-menu.moved {
    right: 270px; /* Перемещаем меню вправо */
}

/* Стили для активного гамбургер-меню */
.hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -6px);
}

/* Стили для бокового меню */
.menu {
    display: none; /* Скрываем меню по умолчанию */
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 250px;
    height: 100vh;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: display 0.5s ease;
}

.menu button {
    display: block;
    width: 90%;
    margin: 20px 0;
    padding: 15px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.menu button:hover {
    background-color: #ddd;
    color: #000;
    border-color: #ddd;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 767px) {
    /* Стили для мобильных устройств */
    .left-image {
        padding-left: 0;
    }

    .text-content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        letter-spacing: 3px;
    }

    .text-about {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        letter-spacing: 2px;
    }

    .player-imag, .player-imag-dima {
        margin-right: 0;
    }

    .news-image {
        margin-right: 0;
    }

    .news-item {
        flex-direction: column;
    }

    .news-content {
        width: 100%;
    }

    .hamburger-menu {
        right: 10px;
    }

    .menu {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Стили для планшетов */
    .left-image {
        padding-left: 50px;
    }

    .text-content {
        width: 50%;
        padding-left: 50px;
        font-size: 18px;
        letter-spacing: 4px;
    }

    .text-about {
        width: 50%;
        padding-left: 50px;
        font-size: 18px;
        letter-spacing: 3px;
    }

    .player-imag, .player-imag-dima {
        margin-right: 20px;
    }

    .news-image {
        margin-right: 20px;
    }

    .news-item {
        flex-direction: row;
    }

    .news-content {
        width: 50%;
    }

    .hamburger-menu {
        right: 20px;
    }

    .menu {
        width: 250px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    /* Стили для нетбуков */
    .left-image {
        padding-left: 100px;
    }

    .text-content {
        width: 60%;
        padding-left: 100px;
        font-size: 20px;
        letter-spacing: 5px;
    }

    .text-about {
        width: 60%;
        padding-left: 100px;
        font-size: 20px;
        letter-spacing: 4px;
    }

    .player-imag, .player-imag-dima {
        margin-right: 20px;
    }

    .news-image {
        margin-right: 20px;
    }

    .news-item {
        flex-direction: row;
    }

    .news-content {
        width: 60%;
    }

    .hamburger-menu {
        right: 30px;
    }

    .menu {
        width: 250px;
    }
}

@media (min-width: 1280px) and (max-width: 1919px) {
    /* Стили для мониторов низкого класса */
    .left-image {
        padding-left: 150px;
    }

    .text-content {
        width: 70%;
        padding-left: 150px;
        font-size: 22px;
        letter-spacing: 6px;
    }

    .text-about {
        width: 70%;
        padding-left: 150px;
        font-size: 22px;
        letter-spacing: 5px;
    }

    .player-imag, .player-imag-dima {
        margin-right: 20px;
    }

    .news-image {
        margin-right: 20px;
    }

    .news-item {
        flex-direction: row;
    }

    .news-content {
        width: 70%;
    }

    .hamburger-menu {
        right: 40px;
    }

    .menu {
        width: 250px;
    }
}

@media (min-width: 1920px) {
    /* Стили для мониторов full-hd */
    .left-image {
        padding-left: 200px;
    }

    .text-content {
        width: 80%;
        padding-left: 200px;
        font-size: 24px;
        letter-spacing: 7px;
    }

    .text-about {
        width: 80%;
        padding-left: 200px;
        font-size: 24px;
        letter-spacing: 6px;
    }

    .player-imag, .player-imag-dima {
        margin-right: 20px;
    }

    .news-image {
        margin-right: 20px;
    }

    .news-item {
        flex-direction: row;
    }

    .news-content {
        width: 80%;
    }

    .hamburger-menu {
        right: 50px;
    }

    .menu {
        width: 250px;
    }
}
